<% include ../../partials/header.ejs %>

<div id="app" v-cloak>

<div class="d-flex">
  <h1 class="truncate mb-3 flex-grow-1">
    <% if (account === null) { %>
      No alias
    <% } else if (account.alias) { %>
      <%= account.alias %><% if (account.verified) { %> <i class="fas fa-check-circle text-primary" title="Verified"></i><% } %>
    <% } else { %>
      No alias
    <% } %>
    <i class="fas fa-exclamation-circle text-warning" title="Avoid" v-if="account && account.avoid"></i>
    <i class="fas fa-exclamation-circle text-danger" title="Closing" v-if="account && account.closing"></i>
  </h1>
  <i class="fas fa-qrcode h1" title="Verified" data-toggle="modal" data-target="#setRepresentative"></i>
</div>

<div class="modal fade" id="setRepresentative" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">QR code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <a href="nanorep:<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>">
            <img src="https://chart.googleapis.com/chart?chs=250x250&amp;cht=qr&amp;chl=<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>&amp;choe=UTF-8">
          </a>
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="nano:<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>" class="btn btn-secondary">Pay</a>
          <a href="nanorep:<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>" class="btn btn-secondary">Representative</a>
        </div>
        <a href="/account/<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>/send" class="btn btn-secondary">Payment link</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" v-if="account && account.closing">
  <strong>Heads up!</strong> This representative will shut down soon. Please <a href="/" class="alert-link">choose a new one here</a>!
</div>

<div class="card elegant-color mb-3">
  <div class="card-body d-flex flex-wrap truncate">
    <div class="flex-grow-1 px-3 truncate">
      <div class="flex items-center grey-text mb-1">
        <span>Address</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold mr-2">
          <span class="mr-2">{{ address }}</span>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="flex items-center grey-text mb-1">
        <span>Represented by</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate" v-if="info">
          <account-alias-sm :account="info.representative" v-if="info"></account-alias-sm>
        </div>
      </div>
    </div>
    <div class="px-3" v-if="info && info.pending > 0">
      <div class="flex items-center grey-text mb-1">
        <span>Pending</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate">
          {{ info.pending | toMnano | toLocaleString }} NANO
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="flex items-center grey-text mb-1">
        <span>Balance</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate" v-if="info">
          <span class="mr-2">{{ info.balance | toMnano | toLocaleString }} NANO</span>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="flex items-center grey-text mb-1">
        <span>Blocks</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate" v-if="info">
          <span class="mr-2">{{ info.block_count | toLocaleString }}</span>
        </div>
      </div>
    </div>
    <div class="px-3" v-if="account && account.delegators > 0">
      <div class="flex items-center grey-text mb-1">
        <span>Delegators</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate">
          {{ account.delegators | toLocaleString }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" v-if="account && account.votingweight > 0">
  <div class="card-body d-flex flex-column px-5">
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Voting Weight</div>
      <div>{{ account.votingweight | toMnano | toLocaleString }} NANO</div>
    </div>
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Uptime</div>
      <div>{{ Number((account.uptime).toFixed(3)) }} %</div>
    </div>
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Status</div>
      <div v-if="account.status === 'online'"><span class="badge badge-success">Online</span></div>
      <div v-else-if="account.status === 'unstable'"><span class="badge badge-warning">Unstable</span></div>
      <div v-else><span class="badge badge-danger">Offline</span></div>
    </div>
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Last voted</div>
      <div v-if="account.lastVoted">{{ account.lastVoted | momentFromNow }}</div>
      <div v-else>Never voted</div>
    </div>
    <div class="d-flex border-bottom py-2" v-if="account.isOnline">
      <div class="flex-grow-1">Vote Latency</div>
      <div v-if="account.votelatency < -100">
        <span class="badge badge-success" :title="account.votelatency +' ms'">Very Fast</span>
      </div>
      <div v-else-if="account.votelatency >= -100 && account.votelatency < 200">
        <span class="badge badge-success" :title="account.votelatency +' ms'">Fast</span>
      </div>
      <div v-else-if="account.votelatency >= 200 && account.votelatency < 500">
        <span class="badge badge-info" :title="account.votelatency +' ms'">Medium</span>
      </div>
      <div v-else-if="account.votelatency >= 500 && account.votelatency < 1000">
        <span class="badge badge-warning" :title="account.votelatency +' ms'">Slow</span>
      </div>
      <div v-else-if="account.votelatency >= 1000">
        <span class="badge badge-danger" :title="account.votelatency +' ms'">Very Slow</span>
      </div>
      <div v-else>No data</div>
    </div>
    <div class="d-flex border-bottom py-2" v-if="account.isOnline">
      <div class="flex-grow-1">Vote Latency (current)</div>
      <div v-if="account.votelatency_current < -100">
        <span class="badge badge-success" :title="account.votelatency_current +' ms'">Very Fast</span>
      </div>
      <div v-else-if="account.votelatency_current >= -100 && account.votelatency_current < 200">
        <span class="badge badge-success" :title="account.votelatency_current +' ms'">Fast</span>
      </div>
      <div v-else-if="account.votelatency_current >= 200 && account.votelatency_current < 500">
        <span class="badge badge-info" :title="account.votelatency_current +' ms'">Medium</span>
      </div>
      <div v-else-if="account.votelatency_current >= 500 && account.votelatency_current < 1000">
        <span class="badge badge-warning" :title="account.votelatency_current +' ms'">Slow</span>
      </div>
      <div v-else-if="account.votelatency_current >= 1000">
        <span class="badge badge-danger" :title="account.votelatency_current +' ms'">Very Slow</span>
      </div>
      <div v-else>No data</div>
    </div>
    <div class="d-flex py-2">
      <div class="flex-grow-1">Score <i class="fas fa-question-circle" data-toggle="modal" data-target="#repscore"></i></div>
      <div>{{ account.score }} / 100</div>
    </div>
  </div>
</div>

<div class="modal fade" id="repscore" tabindex="-1" role="dialog" aria-hidden="true" v-if="account && account.votingweight > 0">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Representative Score</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          The representative score is a good indicator of reliability and is calculated using various attributes such as uptime, voting weight and days since creation.
        </p>
        <p>
          Please do <b>not</b> use this score as the sole indicator when choosing a representative.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done!</button>
      </div>
    </div>
  </div>
</div>

<% if (account) { %>
<div v-if="modal.editAccount">
  <transition name="modal">
    <div class="modal-mask">
        <div class="modal-wrapper">
        <form @submit="submitEditAccount">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" @click="modal.editAccount = false">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Account alias</label>
                  <input type="text" class="form-control" name="account_alias" id="account_alias" v-model="editAccount.account_alias" placeholder="My Nano node"
                    value="<% if (account.alias) { %><%= account.alias %><% } %>">
                  <small class="form-text text-muted">This will be shown instead of the full address.</small>
                </div>
                <div class="form-group">
                  <label>Introduction</label>
                  <input type="text" class="form-control" name="account_description" id="account_description" v-model="editAccount.account_description" placeholder="I run this representative because..."
                    value="<% if (account.description) { %><%= account.description %><% } %>" maxlength="500">
                  <small class="form-text text-muted">Write a short text why you run this representative.</small>
                </div>
                <div class="form-group">
                  <label>Website</label>
                  <input type="text" class="form-control" name="account_website" id="account_website" v-model="editAccount.account_website" placeholder="https://ilovenano.com"
                    pattern="(http(s)?:\/\/.)(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,8}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                    value="<% if (account.website) { %><%= account.website %><% } %>">
                  <small class="form-text text-muted">Your project / personal website</small>
                </div>
                <div class="form-group">
                  <label>Server Type</label>
                  <input type="text" class="form-control" name="server_type" id="server_type" v-model="editAccount.server_type" placeholder="VPS" maxlength="50">
                  <small class="form-text text-muted">Dedicated, VPS, etc.</small>
                </div>
                <div class="form-group">
                  <label>Server CPU</label>
                  <input type="text" class="form-control" name="server_cpu" id="server_cpu" v-model="editAccount.server_cpu" placeholder="AMD EPYC 7702 - 4 cores" maxlength="50">
                  <small class="form-text text-muted">Your server CPU, type, core count</small>
                </div>
                <div class="form-group">
                  <label>Server RAM</label>
                  <input type="text" class="form-control" name="server_ram" id="server_ram" v-model="editAccount.server_ram" placeholder="16 GB" maxlength="50">
                  <small class="form-text text-muted">How much RAM do you have?</small>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" name="closing" id="closing" v-model="editAccount.closing">
                  <label class="form-check-label" for="exampleCheck1">Closing</label>
                  <small class="form-text text-muted"><span class="text-danger">Warning:</span> This set your representative to shutdown mode</small>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">{{ editAccount.button_submit }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </transition>
</div>
<% } %>

<div class="row">
  <div class="col-lg-4 mb-4">
    <h3>Owner</h3>
    <% if (account && account.owner) { %>
    <ul class="list-group mb-3">
      <% if (account.owner.twitter.token) { %>
      <li class="list-group-item">
        <i class="fab fa-twitter"></i> Twitter
        <span class="float-right">
          <a href="https://twitter.com/<%= account.owner.twitter.username %>" target="_blank" rel="noreferer, noopener"
            target="_blank" rel="noreferer, noopener">
            @<%= account.owner.twitter.username %>
          </a>
        </span>
      </li>
      <% } %>
      <% if (account.owner.github.token) { %>
      <li class="list-group-item">
        <i class="fab fa-github"></i> GitHub
        <span class="float-right">
          <a href="https://github.com/<%= account.owner.github.username %>" target="_blank" rel="noreferer, noopener"
            target="_blank" rel="noreferer, noopener">
            <%= account.owner.github.username %>
          </a>
        </span>
      </li>
      <% } %>
      <% if (account.owner.reddit.token) { %>
      <li class="list-group-item">
        <i class="fab fa-reddit"></i> Reddit
        <span class="float-right">
          <a href="https://www.reddit.com/user/<%= account.owner.reddit.name %>" target="_blank" rel="noreferer, noopener"
            target="_blank" rel="noreferer, noopener">
            <%= account.owner.reddit.name %>
          </a>
        </span>
      </li>
      <% } %>
      <% if (account.owner.discord.token) { %>
      <li class="list-group-item">
        <i class="fab fa-discord"></i> Discord
        <span class="float-right">
          <%= account.owner.discord.username %>#<%= account.owner.discord.discriminator %>
        </span>
      </li>
      <% } %>
    </ul>
    <% if (loggedin && account.owner._id.toString() == user._id.toString()) { %>
      <a href="#" class="btn btn-secondary btn-sm" @click="modal.editAccount = true">Edit account</a>
    <% } %>
    <% } else { %>
      <a href="/auth/login" class="btn btn-secondary">
        Log in to claim this account
      </a>
    <% } %>
  </div>

  <div class="col">
    <h3>Description</h3>
      <ul class="list-group mb-4">
        <li class="list-group-item">
          <% if(account !== null && account.description){ %>
            <%= account.description %>
          <% } else { %>
            No description
          <% } %>
        </li>
      </ul>
  </div>
</div>

<div class="row">

  <div class="col-lg-4 mb-4">
    <h3>Information</h3>
    <ul class="list-group mb-3">
      <% if(account !== null){ %>
      <li class="list-group-item">
        Created
        <span class="float-right">
          <%= moment(account.created).fromNow() %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.website){ %>
      <li class="list-group-item">
        Website
        <span class="float-right">
          <a href="<%= account.website %>" target="_blank" rel="noreferer, noopener">
            <%= account.website %>
          </a>
        </span>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="col-lg-4 mb-4" v-if="account && account.votingweight > 0">
    <h3>Node</h3>
    <ul class="list-group mb-3">
      <% if(account !== null && account.server && account.server.type){ %>
      <li class="list-group-item">
        Server Type
        <span class="float-right">
          <%= account.server.type %>
          <% if(account.server.renewable){ %>
          <i class="fas fa-leaf" style="color: #8BC34A" title="Renewable Energy"></i>
          <% } %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.server && account.server.cpu){ %>
      <li class="list-group-item">
        Server CPU
        <span class="float-right">
          <%= account.server.cpu %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.server && account.server.ram){ %>
      <li class="list-group-item">
        Server RAM
        <span class="float-right">
          <%= account.server.ram %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.location.country){ %>
      <li class="list-group-item">
        Location
        <span class="float-right">
          <% if(account.location.city){ %><%= account.location.city %>, <% } %><%= account.location.country %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.network.provider){ %>
      <li class="list-group-item">
        Server Provider
        <span class="float-right">
          <%= account.network.provider %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.telemetry.major_version){ %>
      <li class="list-group-item">
        Node Version
        <span class="float-right">
          <%= account.telemetry.major_version %>.<%= account.telemetry.minor_version %>.<%= account.telemetry.patch_version %>
        </span>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="col-lg-4 mb-4" v-if="account && account.votingweight > 0">
    <h3>Uptime</h3>
    <ul class="list-group mb-3">
      <li class="list-group-item">
        Last 24 hours
        <span class="float-right">
          {{ account.uptime_over.day | round(3) }} %
        </span>
      </li>
      <li class="list-group-item">
        Last 7 days
        <span class="float-right">
            {{ account.uptime_over.week | round(3) }} %
        </span>
      </li>
      <li class="list-group-item">
        Last 30 days
        <span class="float-right">
            {{ account.uptime_over.month | round(3) }} %
        </span>
      </li>
      <li class="list-group-item">
        Last year
        <span class="float-right">
            {{ account.uptime_over.year | round(3) }} %
        </span>
      </li>
    </ul>
  </div>

</div>

<h3 v-if="pending.blocks">Incoming Transactions</h3>
<div class="table-responsive">
  <table class="table" v-if="pending.blocks">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Account</th>
        <th scope="col">Amount</th>
        <th scope="col">Hash</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, key) in pending.blocks">
        <th scope="row">receive</th>
        <td>
          <account-alias :account="item.source"></account-alias>
        </td>
        <td>{{item.amount | toMnano}} NANO</td>
        <td><a v-bind:href="'/block/'+ key"><span v-html="$options.filters.formatHash(key)"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Transaction History</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Account</th>
      <th scope="col">Amount</th>
      <th scope="col">Hash</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item of history">
      <th scope="row" v-bind:title="item.local_timestamp | momentUnixFormat">{{ item.local_timestamp | momentUnixFromNow }}</th>
      <td>{{ item.type }}</td>
      <td>
        <account-alias :account="item.account"></account-alias>
      </td>
      <td>{{item.amount | toMnano}} NANO</td>
      <td><a v-bind:href="'/block/'+ item.hash"><span v-html="$options.filters.formatHash(item.hash)"></span></a></td>
    </tr>
  </tbody>
</table>
</div>

</div><!-- end of app class -->

<script src="/static/js/vue.js"></script>
<script src="/static/js/main-vue.js?v=7"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/big.min.js"></script>
<script>
  const address = "<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>";
</script>
<script src="/static/js/sites/account.js?v=10"></script>

<% include ../../partials/footer.ejs %>
