<% include ../partials/header.ejs %>

<div id="app" v-cloak>

<div class="d-flex">
  <h1 class="truncate mb-3 flex-grow-1">
    <% if (account === null) { %>
      No alias
    <% } else if (account.alias) { %>
      <%= account.alias %><% if (account.verified) { %> <i class="fas fa-check-circle text-primary" title="Verified"></i><% } %>
    <% } else { %>
      No alias
    <% } %>
  </h1>
  <i class="fas fa-qrcode h1" title="Verified" data-toggle="modal" data-target="#setRepresentative"></i>
</div>

<div class="modal fade" id="setRepresentative" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">QR code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <a href="nanorep:<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>">
            <img src="https://chart.googleapis.com/chart?chs=250x250&amp;cht=qr&amp;chl=<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>&amp;choe=UTF-8">
          </a>
        </p>
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="nano:<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>" class="btn btn-secondary">Pay</a>
          <a href="nanorep:<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>" class="btn btn-secondary">Representative</a>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="card elegant-color mb-3">
  <div class="card-body d-flex flex-wrap truncate">
    <div class="flex-grow-1 px-3 truncate">
      <div class="flex items-center grey-text mb-1">
        <span>Address</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold mr-2">
          <span class="mr-2">{{ address }}</span>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="flex items-center grey-text mb-1">
        <span>Voting for</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate" v-if="info">
          <account-alias-sm :account="info.representative" v-if="info"></account-alias-sm>
        </div>
      </div>
    </div>
    <div class="px-3" v-if="info && info.pending > 0">
      <div class="flex items-center grey-text mb-1">
        <span>Pending</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate">
          {{ info.pending | toMnano | toLocaleString }} NANO
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="flex items-center grey-text mb-1">
        <span>Balance</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate" v-if="info">
          <span class="mr-2">{{ info.balance | toMnano | toLocaleString }} NANO</span>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="flex items-center grey-text mb-1">
        <span>Blocks</span>
      </div>
      <div class="flex">
        <div class="text-lg text-white semibold truncate" v-if="info">
          <span class="mr-2">{{ info.block_count | toLocaleString }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" v-if="account && account.votingweight > 0">
  <div class="card-body d-flex flex-column px-5">
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Voting Weight</div>
      <div>{{ account.votingweight | toMnano | toLocaleString }} NANO</div>
    </div>
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Uptime</div>
      <div>{{ Number((account.uptime).toFixed(3)) }} %</div>
    </div>
    <div class="d-flex border-bottom py-2">
      <div class="flex-grow-1">Last voted</div>
      <div v-if="account.lastVoted">{{ account.lastVoted | momentFromNow }}</div>
      <div v-else>Never voted</div>
    </div>
    <div class="d-flex py-2">
      <div class="flex-grow-1">Score <i class="fas fa-question-circle" data-toggle="modal" data-target="#repscore"></i></div>
      <div>{{ account.score }} / 100</div>
    </div>
  </div>
</div>

<div class="modal fade" id="repscore" tabindex="-1" role="dialog" aria-hidden="true" v-if="account && account.votingweight > 0">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Representative Score</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          The representative score is a good indicator of reliability and is calculated using various attributes such as uptime, voting weight and days since creation.
        </p>
        <p>
          Please do <b>not</b> use this score as the sole indicator when choosing a representative.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Done!</button>
      </div>
    </div>
  </div>
</div>

<% if(account !== null && account.description){ %>
<div class="row">
  <div class="col">
      <ul class="list-group mb-4">
        <li class="list-group-item">
          <%= account.description %>
        </li>
      </ul>
  </div>
</div>
<% } %>

<div class="row">

  <div class="col-lg-4 mb-4">
    <h3>Information</h3>
    <ul class="list-group mb-3">
      <% if(account !== null){ %>
      <li class="list-group-item">
        Created
        <span class="float-right">
          <%= moment(account.created).fromNow() %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.website){ %>
      <li class="list-group-item">
        Website
        <span class="float-right">
          <a href="<%= account.website %>" target="_blank">
            <%= account.website %>
          </a>
        </span>
      </li>
      <% } %>
    </ul>
    
  </div>

  <div class="col-lg-4 mb-4" v-if="account && account.votingweight > 0">
    <h3>Node</h3>
    <ul class="list-group mb-3">
      <% if(account !== null && account.server && account.server.type){ %>
      <li class="list-group-item">
        Server Type
        <span class="float-right">
          <%= account.server.type %>
          <% if(account.server.renewable){ %>
          <i class="fas fa-leaf" style="color: #8BC34A" title="Renewable Energy"></i>
          <% } %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.location.country){ %>
      <li class="list-group-item">
        Location
        <span class="float-right">
          <% if(account.location.city){ %><%= account.location.city %>, <% } %><%= account.location.country %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.network.provider){ %>
      <li class="list-group-item">
        Server Provider
        <span class="float-right">
          <%= account.network.provider %>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.monitor.version){ %>
      <li class="list-group-item">
        Node Version
        <span class="float-right">
          <a href="<%= account.monitor.url %>" target="_blank">
            <%= account.monitor.version %>
          </a>
        </span>
      </li>
      <% } %>
      <% if(account !== null && account.monitor.sync){ %>
      <li class="list-group-item">
        Sync Status
        <span class="float-right">
          <a href="<%= account.monitor.url %>" target="_blank">
            <%= account.monitor.sync %> %
          </a>
        </span>
      </li>
      <% } %>
    </ul>
    
  </div>

  <div class="col-lg-4 mb-4" v-if="account && account.votingweight > 0">
    <h3>Uptime</h3>
    <ul class="list-group mb-3">
      <li class="list-group-item">
        Last 24 hours
        <span class="float-right">
          {{ account.uptime_over.day | round(3) }} %
        </span>
      </li>
      <li class="list-group-item">
        Last 7 days
        <span class="float-right">
            {{ account.uptime_over.week | round(3) }} %
        </span>
      </li>
      <li class="list-group-item">
        Last 30 days
        <span class="float-right">
            {{ account.uptime_over.month | round(3) }} %
        </span>
      </li>
      <li class="list-group-item">
        Last year
        <span class="float-right">
            {{ account.uptime_over.year | round(3) }} %
        </span>
      </li>
    </ul>
  </div>

</div>

<h3>Account Owner</h3>
<% if (account) { %>
<% if (account.owner) { %>

<% if (loggedin && account.owner._id.toString() == user._id.toString()) { %>
<div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Welcome!</strong> You are the owner of this account. <a href="#" class="alert-link" @click="modal.editAccount = true">Edit it here</a>!
</div>

<div v-if="modal.editAccount">
  <transition name="modal">
    <div class="modal-mask">
        <div class="modal-wrapper">
        <form @submit="submitEditAccount">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" @click="modal.editAccount = false">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Account alias</label>
                  <input type="text" class="form-control" name="account_alias" id="account_alias" v-model="editAccount.account_alias" placeholder="My Nano node"
                    value="<% if (account.alias) { %><%= account.alias %><% } %>">
                  <small class="form-text text-muted">This will be shown instead of the full address.</small>
                </div>
                <div class="form-group">
                  <label>Introduction</label>
                  <input type="text" class="form-control" name="account_description" id="account_description" v-model="editAccount.account_description" placeholder="I run this representative because..."
                    value="<% if (account.description) { %><%= account.description %><% } %>" maxlength="500">
                  <small class="form-text text-muted">Write a short text why you run this representative.</small>
                </div>
                <div class="form-group">
                  <label>Website</label>
                  <input type="text" class="form-control" name="account_website" id="account_website" v-model="editAccount.account_website" placeholder="https://ilovenano.com"
                    pattern="(http(s)?:\/\/.)(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,8}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                    value="<% if (account.website) { %><%= account.website %><% } %>">
                  <small class="form-text text-muted">Your project / personal website</small>
                </div>
                <div class="form-group">
                  <label>Nano Node Monitor URL</label>
                  <input type="text" class="form-control" name="account_monitorUrl" id="account_monitorUrl" v-model="editAccount.account_monitorUrl" placeholder="https://monitor.mynanonode.com"
                    value="<% if (account.monitor.url) { %><%= account.monitor.url %><% } %>">
                  <small class="form-text text-muted">Add the full URL to your <a href="https://github.com/NanoTools/nanoNodeMonitor"
                      target="_blank">Nano Node Monitor</a></small>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">{{ editAccount.button_submit }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </transition>
</div>

<% } %>

<div class="row">
  <% if (account.owner.facebook.token) { %>
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Facebook</h4>
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="<% if(account.owner.facebook.avatar){ %><%= account.owner.facebook.avatar %><% } else { %>/static/img/ninja-icon.png<% } %>"
              alt="Avatar">
          </div>
          <div class="col">
            <p>
              <%= account.owner.facebook.name %>
            </p>
            <a href="https://facebook.com/<%= account.owner.facebook.id %>" class="card-link" target="_blank">Visit
              profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (account.owner.twitter.token) { %>
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Twitter</h4>
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="<% if(account.owner.twitter.avatar){ %><%= account.owner.twitter.avatar %><% } else { %>/static/img/ninja-icon.png<% } %>"
              alt="Avatar">
          </div>
          <div class="col">
            <p>
              @<%= account.owner.twitter.username %>
            </p>
            <a href="https://twitter.com/<%= account.owner.twitter.username %>" class="card-link" target="_blank"
              target="_blank">Visit profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (account.owner.google.token) { %>
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Google</h4>
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="<% if(account.owner.google.avatar){ %><%= account.owner.google.avatar %><% } else { %>/static/img/ninja-icon.png<% } %>"
              alt="Avatar">
          </div>
          <div class="col">
            <p>
              <%= account.owner.google.name %>
            </p>
            <a href="https://plus.google.com/<%= account.owner.google.id %>" class="card-link" target="_blank" target="_blank">Visit
              profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (account.owner.github.token) { %>
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">GitHub</h4>
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="<% if(account.owner.github.avatar){ %><%= account.owner.github.avatar %><% } else { %>/static/img/ninja-icon.png<% } %>"
              alt="Avatar">
          </div>
          <div class="col">
            <p>
              <%= account.owner.github.displayName %> (
              <%= account.owner.github.username %>)
            </p>
            <a href="https://github.com/<%= account.owner.github.username %>" class="card-link" target="_blank">Visit
              profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (account.owner.reddit.token) { %>
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Reddit</h4>
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="<% if(account.owner.reddit.avatar){ %><%= account.owner.reddit.avatar %><% } else { %>/static/img/ninja-icon.png<% } %>"
              alt="Avatar">
          </div>
          <div class="col">
            <p>
              <%= account.owner.reddit.name %>
            </p>
            <a href="https://www.reddit.com/user/<%= account.owner.reddit.name %>" class="card-link" target="_blank">Visit
              profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (account.owner.discord.token) { %>
  <div class="col-sm-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Discord</h4>
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="<% if(account.owner.discord.avatar){ %>https://cdn.discordapp.com/avatars/<%= account.owner.discord.id %>/<%= account.owner.discord.avatar %>.png<% } else { %>/static/img/ninja-icon.png<% } %>"
              alt="Avatar">
          </div>
          <div class="col">
            <p>
              <%= account.owner.discord.username %>#<%= account.owner.discord.discriminator %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

</div>

<% } else { %>
<div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Whoops!</strong> No owner set up. Is this yours? <a href="/auth/login" class="alert-link">Log in to claim
    this account</a>!
</div>
<% } %>

<% } else { %>
<div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Whoops!</strong> No owner set up. Is this yours? <a href="/auth/login" class="alert-link">Log in to claim
    this account</a>!
</div>
<% } %>

    <h3 v-if="pending.blocks">Pending Transactions</h3>
    <div class="table-responsive">
      <table class="table" v-if="pending.blocks">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Account</th>
            <th scope="col">Amount</th>
            <th scope="col">Hash</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, key) in pending.blocks">
            <th scope="row">recieve</th>
            <td>
              <account-alias :account="item.source"></account-alias>
            </td>
            <td>{{item.amount | toMnano}} NANO</td>
            <td><a v-bind:href="'/block/'+ key"><span v-html="$options.filters.formatHash(key)"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  <h3>Transaction History</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Account</th>
          <th scope="col">Amount</th>
          <th scope="col">Hash</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of history">
          <th scope="row">{{item.type}}</th>
          <td>
            <account-alias :account="item.account"></account-alias>
          </td>
          <td>{{item.amount | toMnano}} NANO</td>
          <td><a v-bind:href="'/block/'+ item.hash"><span v-html="$options.filters.formatHash(item.hash)"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<script src="/static/js/vue.js"></script>
<script src="/static/js/main-vue.js?v=4"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/big.min.js"></script>
<script>
  const address = "<% if (account === null) { %><%= myaccount %><% } else { %><%= account.account %><% } %>";
</script>
<script src="/static/js/sites/account.js?v=5"></script>

<% include ../partials/footer.ejs %>