<% include ../partials/header.ejs %>

<div class="row mt-5 mb-5">
  <div class="col-sm-auto mr-auto">
    <img src="/static/img/ninja-laptop.png" alt="Nano Logo" style="width: 12rem;" />
  </div>
  <div class="col">
    <h1>
      My Nano Ninja<br>
      <h6>The Ninja shows you verified representatives, statistics and more for the Nano cryptocurrency!</h6>
    </h1>
    <div class="btn-group mt-3">
      <a href="/faq" class="btn btn-primary">Why should I change?</a>
      <a href="/profile" class="btn btn-secondary">Add your Account</a>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card mb-3">
    <div class="card-body">
      <form class="form-search">
        <div class="input-group">
          <input name="query" type="text" class="form-control" placeholder="Search for an address or block" pattern="(xrb_[a-z0-9]{60}|[A-Z0-9]{64})" title="Enter a valid Nano address or block hash">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h2>Recommended Representatives</h2>

<div class="row">

  <% for(var i=0; i < accounts.length; i++) { %>
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <a href="/account/<%= accounts[i].account %>">
              <h4 class="card-title">
                <% if(typeof accounts[i].alias !== 'undefined'){ %>
                <%= accounts[i].alias %>
                <% } else { %>
                <%= accounts[i].account %>
                <% } %>
              </h4>
            </a>
            <h6 class="card-subtitle text-muted">
              <% if (accounts[i].owner.facebook.token) { %>
              <i class="fab fa-facebook-square"></i>
              <% } %>
              <% if (accounts[i].owner.twitter.token) { %>
              <i class="fab fa-twitter"></i>
              <% } %>
              <% if (accounts[i].owner.google.token) { %>
              <i class="fab fa-google-plus-g"></i>
              <% } %>
              <% if (accounts[i].owner.github.token) { %>
              <i class="fab fa-github"></i>
              <% } %>
              <% if (accounts[i].owner.reddit.token) { %>
              <i class="fab fa-reddit"></i>
              <% } %>
              <% if (accounts[i].owner.discord.token) { %>
              <i class="fab fa-discord"></i>
              <% } %>
              <% if(accounts[i].website){ %>
              <i class="fas fa-globe"></i>
              <% } %>
              <% if(accounts[i].monitor.version){ %>
              <i class="fas fa-binoculars"></i>
              <% } %>
              <br>
              <% if(accounts[i].description) { %>
              <%= accounts[i].description %>
              <% } else { %>
              No introduction
              <% } %>
            </h6>
          </div>
          <div class="col-auto ml-auto">
            <span class="h1">
              <%= accounts[i].score %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

</div>

<% include ../partials/footer.ejs %>