<% include ../partials/header.ejs %>

<div class="row mt-5 mb-5">
  <div class="col-sm-auto mr-auto">
    <img src="/static/img/ninja-laptop.png" alt="Nano Logo" style="width: 12rem;" />
  </div>
  <div class="col">
    <h1>
      My Nano Ninja<br>
      <h6>The Ninja shows you verified representatives, statistics and more for the Nano cryptocurrency!</h6>
    </h1>
    <div class="btn-group mt-3">
      <a href="/faq" class="btn btn-primary">Why should I change?</a>
      <a href="/profile" class="btn btn-secondary">Add your Account</a>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card mb-3">
    <div class="card-body">
      <form class="form-search">
        <div class="input-group">
          <input name="query" type="text" class="form-control" placeholder="Search for an address or block" pattern="((xrb|nano)_[a-z0-9]{60}|[A-Z0-9]{64})" title="Enter a valid Nano address or block hash">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h2>Recommended Representatives</h2>

<div class="row">

  <% for(var i=0; i < accounts.length; i++) { %>
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <a href="/account/<%= accounts[i].account %>">
              <h4 class="card-title">
                <% if(typeof accounts[i].alias !== 'undefined'){ %>
                <%= accounts[i].alias %>
                <% } else { %>
                <%= accounts[i].account %>
                <% } %>
              </h4>
            </a>
            <h5 class="card-subtitle text-muted">
              <% if(accounts[i].lastVoted) { %>
                <% if(moment(accounts[i].lastVoted).add(10, 'minutes').isAfter(/*now*/)) { %>
                <span class="badge badge-success"
                  title="Last voted <%= moment(accounts[i].lastVoted).fromNow() %>">Online</span>
                <% } else if(moment(accounts[i].lastVoted).add(1, 'day').isAfter(/*now*/)) { %>
                <span class="badge badge-warning"
                  title="Last voted <%= moment(accounts[i].lastVoted).fromNow() %>">Unstable</span>
                <% } else { %>
                <span class="badge badge-danger"
                  title="Last voted <%= moment(accounts[i].lastVoted).fromNow() %>">Offline</span>
                <% } %>
              <% } else { %>
              <span class="badge badge-danger" title="Never voted">Offline</span>
              <% } %>
              <% if(accounts[i].votelatency) { %>
                <% if(accounts[i].votelatency < -100) { %>
                  <span class="badge badge-success">Very Fast</span>
                <% } else if(accounts[i].votelatency >= -100 && accounts[i].votelatency < 200) { %>
                  <span class="badge badge-success">Fast</span>
                <% } else if(accounts[i].votelatency >= 200 && accounts[i].votelatency < 500) { %>
                  <span class="badge badge-info">Medium</span>
                <% } else if(accounts[i].votelatency >= 500 && accounts[i].votelatency < 1000) { %>
                  <span class="badge badge-warning">Slow</span>
                <% } else if(accounts[i].votelatency > 1000) { %>
                  <span class="badge badge-danger">Very Slow</span>
                <% } %>
              <% } else { %>
              <span class="badge badge-danger" title="Never voted">Offline</span>
              <% } %>
              <% if(accounts[i].monitor.version) { %>
              <span class="badge badge-secondary"><%= accounts[i].monitor.version %></span>
              <% } %>
            </h5>
          </div>
          <div class="col-auto ml-auto">
            <span class="h1">
              <%= accounts[i].score %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

</div>

<% include ../partials/footer.ejs %>